In [134]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.10)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cryptography>=1.3.4; extra == "secure" in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2.9.2)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "secure" in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (19.1.0)
Requirement already satisfied: idna>=2.0.0; extra == "secure" in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2.10)
Requirement already satisfied: certifi; extra == "secure" in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6; extra == "socks" in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (19.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: six>=1.4.1 in c:\users\hp\anaconda3\lib\site-packages (from cryptography>=1.3.4; extra == "secure"->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.9.0)

In [135]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
first get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [7]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)


company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:9]:
    exp=i.text
    experience_required.append(exp) 
experience_required.insert(0,'26MAY-24JUNE')

In [10]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [11]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Business Data Analyst (Sr Exe / Asst Manager),"Bangalore/Bengaluru, Delhi / NCR",Talent Leads HR Solutions Pvt Ltd,26MAY-24JUNE
1,Data Analyst / Product Analyst / Business Analyst,"Bangalore/Bengaluru, Delhi / NCR",Benchire,3-6 Yrs
2,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,2-5 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-6 Yrs
4,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,3-7 Yrs
5,Data Analyst I,Bangalore/Bengaluru,Cerner,6-11 Yrs
6,"Hiring Data Analyst - Forensics, KPMG India","Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G...",KPMG India,1-4 Yrs
7,Urgent Hiring For Data Analyst For Contract To...,"Bangalore/Bengaluru, Hyderabad/Secunderabad",TeamLease,2-6 Yrs
8,Data Analyst I,Bangalore/Bengaluru,Cerner,5-8 Yrs
9,Sr. Analyst Advanced Analytics and Data Science,Bangalore/Bengaluru,Kennametal,5-10 Yrs

In [12]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.# 2)Naukri Data-Data Scientist

In [13]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]


title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    

location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [19]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [20]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
2,Data Scientist,Bangalore/Bengaluru,Applied Materials
3,Data Scientist,Bangalore/Bengaluru,Applied Materials
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data Science - Senior Software Engineer,"Bangalore/Bengaluru, Noida",Paytm
6,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
7,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
8,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
9,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm

In [21]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:
first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field .
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data.

In [29]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [30]:
driver.get("https://www.naukri.com/")

In [31]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
location_delhi.click()


salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]
exp_Reqd=[]

In [35]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in title[0:10]:
        job_title.append(i.text)
    location=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']//span")
    for i in location[0:10]:
        job_location.append(i.text)    
    company=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
    for i in company[0:10]:
        company_name.append(i.text)
    experience=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
    for i in experience[0:10]:
        exp_Reqd.append(i.text)       
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [36]:
print(len(job_title),len(job_location),len(company_name),len(exp_Reqd))

10 10 10 10

In [37]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Experience':exp_Reqd})
df

,Job_title,Job_location,Company_name,Experience
0,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Science Associate,Delhi / NCR(Vaishali),Kreate Energy,2-4 Yrs
8,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

In [38]:
driver.close()

4)Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
Product Description
Price
To scrape the data you have to go through following steps:
Go to flipkart webpage by url https://www.flipkart.com/
Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [39]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [40]:
driver.get("https://www.flipkart.com/")

In [41]:
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')

pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [42]:
brand=[]
prod_desciption=[]
price=[]
time.sleep(3)

In [43]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands[0:100]:
        brand.append(i.text)
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in Product_desc[0:100]:
        prod_desciption.append(i.text)    
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [44]:
print(len(brand),len(prod_desciption),len(price))

120 120 120

In [45]:
df=pd.DataFrame({'Brand':brand,'Prod_desc':prod_desciption,'Price':price})
df

              Brand                                          Prod_desc Price
0      Silver Kartz           UV Protection Clubmaster Sunglasses (53)  ₹313
1         ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)  ₹759
2          DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...  ₹189
3          Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹639
4            SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹268
..              ...                                                ...   ...
115       ROYAL SON          UV Protection Rectangular Sunglasses (50)  ₹569
116  kingsunglasses                UV Protection Round Sunglasses (54)  ₹214
117      Lee Topper  Riding Glasses Wrap-around Sunglasses (Free Size)  ₹299
118              Mi           Polarized Aviator Sunglasses (Free Size)  ₹949
119       ROYAL SON             Polarized Retro Square Sunglasses (61)  ₹699

[120 rows x 3 columns]

In [46]:
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to 
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
you have to scrape the below mention attributes.
These are 
1. Rating 
2. Review_summary 
3. Full review
- You have to scrape this data for first 100 reviews

In [49]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [50]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [51]:
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

In [52]:
#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [53]:
print(len(stars),len(short_review),len(complete_review))

100 100 100

In [54]:
df=pd.DataFrame({'Rating':stars,'Review_summary':short_review,'Full_summary':complete_review})
df

,Rating,Review_summary,Full_summary
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Best in the market!,Don’t expect much from front camera… especiall...
98,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
99,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...

In [55]:
driver.close()

Q6:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
-  Also note that all the steps required during scraping should be done through code only and not manually.

In [56]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [57]:
driver.get("https://www.flipkart.com/")

In [58]:
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')

pop_up=driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
pop_up.click()

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [59]:
brand=[]
description=[]
price=[]

In [60]:
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [61]:
print(len(brand),len(description),len(price))

160 160 160

In [62]:
df=pd.DataFrame({'Brand':brand,'Prod_desc':description,'Price':price})
df

,Brand,Prod_desc,Price
0,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284
1,URBANBOX,Sneakers Sneakers For Men,₹219
2,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹449
3,Absolute comfort,Sneakers For Men,₹298
4,PUMA,x KL Denver Sneakers For Men,"₹1,679"
...,...,...,...
155,Roadster,Sneakers For Men,"₹1,087"
156,Robbie jones,Casual Sneakers White Shoes For Girls And Wome...,₹549
157,PUMA,X-Ray Sneakers For Men,"₹2,602"
158,Detok,Light Weight Gym Shoe |Tracking Shoe| Running ...,₹331
159,Bretton,Classy Stylish Ayasa Sneakers Sneakers For Men,₹251

In [63]:
driver.close()

Q8:  Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7”
After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price# 8)Amazon Laptop

In [260]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [261]:
driver.get("https://www.amazon.in/")

In [262]:
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [263]:

# code to filter i7 CPu-
cpu_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/div")
cpu_filter1.click()

In [264]:
Title=[]
price=[]
Ratings=[]
Rating=[]

In [265]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title[0:10]:
        Title.append(i.text) 
    prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in prices[0:10]:
        price.append(i.text)

In [275]:
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
rating=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [276]:
rating

['4.3', '4.5', '4.2', '4.4', '3.8', '3.6', '4.0', '4.2', '3.8', '4.3']

In [277]:
print(len(Title),len(price),len(rating))

10 10 10

In [278]:
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':rating})
df

                                               Title   Price Ratings
0  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  80,990     4.3
1  LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...  91,990     4.5
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  57,510     4.2
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  89,990     4.4
4  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...  75,990     3.8
5  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  64,592     3.6
6  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  86,990     4.0
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  82,990     4.2
8  (Renewed) Dell Latitude E7470 Intel Core i7 6t...  82,990     3.8
9  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  39,177     4.3

In [279]:
driver.close()

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [83]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [84]:
driver.get("https://www.ambitionbox.com/")

In [85]:
job_button=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
job_button.click()

In [86]:

designation=driver.find_element(By.XPATH,"//input[@class='input tt-input']")
designation.send_keys('Data Scientist')

search=driver.find_element(By.XPATH,"//button[@class='ab_btn search-btn round']")
search.click()


location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
location.click()

noida_loc=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
noida_loc.click()

In [89]:
job_title=[]
company=[]
days_ago=[]

In [90]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//a[@class='title noclick']")
    for i in title[0:10]:
        job_title.append(i.text)
    Compny=driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
    for i in Compny[0:10]:
        company.append(i.text)    

     
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [91]:
no_of_days=driver.find_elements(By.XPATH,"//div[@class='other-info']/span")
for i in no_of_days[:]:
     days_ago.append(i.text.split()[0])
#Extracting every 3rd item from the list starting from index 0
days_posted=days_ago[0::3]

In [92]:
print(len(job_title),len(company),len(days_posted))

10 10 10

In [93]:
df=pd.DataFrame({'Title':job_title,'Company':company,'Job_Posted':days_posted})
df

,Title,Company,Job_Posted
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,15d
1,Data Scientist Intern,CARE HEALTH INSURANCE LIMITED,2d
2,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,22d
3,LatentBridge - Data Scientist - Python/R (2-6 ...,Latent bridge,6d
4,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,13d
5,Data Scientist - Machine Learning/Big Data (0-...,InfoEdge India Ltd.,20d
6,Info Edge - Data Scientist - Machine Learning/...,Info Edge India Limited,21d
7,Info Edge - Senior Data Scientist - Machine Le...,Info Edge India Limited,21d
8,Data Scientist - NLP,CRMnext,16d
9,Data Science Trainer | AI | Machine Learning |...,Careerera,8d

In [94]:
driver.close()

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [205]:
driver=webdriver.Chrome(r"C:\Users\HP\Desktop\Fliprobo notes\chromedriver.exe")

In [206]:
driver.get("https://www.ambitionbox.com/")

In [207]:
salary_button=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]")
salary_button.click()

salary_tag=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p")
salary_tag.click()

In [208]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [209]:
tag=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
tag.click()

In [210]:
company=[]
total_salary = []
avg_Sal=[]
min_Sal=[]
max_Sal=[]
experience=[]

In [211]:
start=0
end=1
for page in range(start,end):
    company_tags =driver.find_elements(By.CLASS_NAME,'company-info')[:10]
    for i in company_tags:
         company.append(i.text.split('\n')[0])     
    total_tags = driver.find_elements(By.CLASS_NAME,'datapoints')
    for x in total_tags:
         total_salary.append(x.text.split(' ')[2])    
    avg_salary=driver.find_elements(By.XPATH,'//div[@class="average-indicator-wrapper"]')
    for i in avg_salary[0:10]:
        avg_Sal.append(i.text)
    minimum_sal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
    for i in minimum_sal[0:10]:
        min_Sal.append(i.text)  
    maximum_Sal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
    for i in maximum_Sal[0:10]:
        max_Sal.append(i.text)  
    exp_tags = driver.find_elements(By.CLASS_NAME,'sbold-list-header')[:10]
    for y in exp_tags:
        experience.append(y.text.split(' ')[0])

In [212]:
print(len(company),len(total_salary),len(avg_Sal),len(min_Sal),len(max_Sal),len(experience))

10 10 10 10 10 10

In [215]:
df=pd.DataFrame({'Company':company,'Total_Sal_Record':total_salary,'Avg_Sal':avg_Sal,'Min_Sal':min_Sal,'Max_Sal':max_Sal,'Experience':experience})
df

             Company Total_Sal_Record  Avg_Sal  Min_Sal  Max_Sal Experience
0            Walmart               12  ₹ 30.6L  ₹ 25.0L  ₹ 25.0L          3
1           Ab Inbev               33  ₹ 20.8L  ₹ 36.0L  ₹ 36.0L        3-4
2                 ZS               15  ₹ 16.7L  ₹ 15.0L  ₹ 15.0L          2
3              Optum               32  ₹ 15.9L  ₹ 26.2L  ₹ 26.2L        3-4
4       Reliance Jio               21  ₹ 15.7L  ₹ 11.0L  ₹ 11.0L        3-4
5  Fractal Analytics               89  ₹ 15.5L  ₹ 22.0L  ₹ 22.0L        2-4
6    Tiger Analytics               51  ₹ 14.8L  ₹ 11.0L  ₹ 11.0L        2-4
7       UnitedHealth               57  ₹ 14.0L  ₹ 22.5L  ₹ 22.5L        2-4
8        EXL Service               21  ₹ 13.2L   ₹ 5.6L   ₹ 5.6L        3-4
9           Deloitte               69  ₹ 12.8L  ₹ 26.2L  ₹ 26.2L        2-4

In [216]:
driver.close()