In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

* Question 1 - display all the header tags from 
‘en.wikipedia.org/wiki/Main_Page’

In [2]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# page content
soup=BeautifulSoup(page.content)

header_tags = [] # empty list
for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_tags.append(header.name+" "+header.text.strip())
    
# print all header_tags
header_tags

['h1 Main Page',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 From today's featured list",
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Variants\nexpanded\ncollapsed',
 'h3 Views',
 'h3 More\nexpanded\ncollapsed',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

* Question 2 - IMDB’s Top rated 100 movies’

In [3]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls091520106/"
page2 = requests.get(url)

#see page content
soup2 = BeautifulSoup(page2.content)

# top Movies name
name = soup2.find_all("h3", class_="lister-item-header")
# get text from movie name web elements
movies_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)


# Year of release
year = soup2.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] #empty list
for k in year:
    a=k.text.replace('(','')
    year_of_release.append(a.replace(')','')) 


      
# IMDB Rating
rating = soup2.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))
# Make data frame of top 100 movies on IMDB
IMDB_top_100=pd.DataFrame({})
IMDB_top_100['movies_name']=movies_name
IMDB_top_100['year_of_release']=year_of_release
IMDB_top_100['IMDB_rating']=IMDB_rating  
IMDB_top_100

                            movies_name year_of_release  IMDB_rating
0              The Shawshank Redemption            1994          9.3
1                         The Godfather            1972          9.2
2                The Godfather: Part II            1974          9.0
3                       The Dark Knight            2008          9.0
4                          12 Angry Men            1957          9.0
..                                  ...             ...          ...
95                   North by Northwest            1959          8.3
96                   A Clockwork Orange            1971          8.3
97                               Snatch            2000          8.2
98  Le fabuleux destin d'Amélie Poulain            2001          8.3
99                              The Kid            1921          8.3

[100 rows x 3 columns]

* Question-3 IMDB’s Top rated 100 Indian movies’

In [4]:
#send get request to the webpage server to get the source code of the page
url = "https://www.imdb.com/list/ls009997493/"
page3 = requests.get(url)

# check the page content
soup3 = BeautifulSoup(page3.content)

# top Movies name
name = soup3.find_all("h3", class_="lister-item-header")
# get text from movie name web elements
movies_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)


# Year of release
year = soup3.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] #empty list

for k in year:
    a=k.text.replace('(','')
    year_of_release.append(a.replace(')','')) 
    

# IMDB Rating
rating = soup3.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))
# Make data frame of top 100 India imdb movies
indian_top_100=pd.DataFrame({})
indian_top_100['movies_name']=movies_name
indian_top_100['year_of_release']=year_of_release
indian_top_100['IMDB_rating']=IMDB_rating
indian_top_100

               movies_name year_of_release  IMDB_rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.4
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.2
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.5
97     Shatranj Ke Khilari            1977          7.7
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]

Q4 - Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) 
from https://presidentofindia.nic.in/former-presidents.htm

In [24]:
page4 = requests.get("https://presidentofindia.nic.in/former-presidents.htm")

# page content
soup4=BeautifulSoup(page4.content)

# scraping the name
name = [] # creating empty list
for i in soup4.find_all("div",class_="presidentListing"): 
    name.append(i.find("h3").text.split("(")[0])
    
# scraping term of office
office = [] # creating the empty list
    
for i in soup4.find_all("div",class_="presidentListing"):
     office.append(i.find_all("p")[0].text.split(":")[1])
        
    
data = list(zip(name,office))                                           #zipping data
df = pd.DataFrame(data,columns=["Name","Term of Office"])                    #Creating Dataset    
df

,Name,Term of Office
0,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

Q5- Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

* i) Top 10 ODI teams in men’s cricket along with the records for matches, points and 
rating.

In [8]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page5 = requests.get(url)
# see content in page5
soup5 = BeautifulSoup(page5.content)
#scrape team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    ratings.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):# other teams ratings
    ratings.append(i.text)
    
# Make data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,New Zealand,17,"2,054",121 ...
1,Australia,25,"2,945",118
2,India,29,"3,344",115
3,England,27,"3,100",115
4,South Africa,20,"2,137",107
5,Pakistan,24,"2,323",97
6,Bangladesh,24,"2,157",90
7,West Indies,27,"2,222",82
8,Sri Lanka,21,"1,652",79
9,Afghanistan,17,"1,054",62

* ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [9]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page6 = requests.get(url)
# see content in page6
soup6 = BeautifulSoup(page6.content)
players = [] #empty list
team_name = [] #empty list
rating = [] #empty list

for i in soup6.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup6.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup6.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup6.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC Batsmen
Batsmen=pd.DataFrame({})
Batsmen['Player']=players[:10]
Batsmen['Team']=team_name[:10]
Batsmen['Rating']=rating[:10]
Batsmen

                Player                     Team Rating
0           Babar Azam  PAK                        865
1          Virat Kohli                      IND    857
2         Rohit Sharma                      IND    825
3          Ross Taylor                       NZ    801
4          Aaron Finch                      AUS    791
5       Jonny Bairstow                      ENG    785
6         Fakhar Zaman                      PAK    778
7  Francois du Plessis                       SA    778
8         David Warner                      AUS    773
9            Shai Hope                       WI    773

* iii) Top 10 ODI bowlers along with the records of their team and rating

In [10]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page7 = requests.get(url)

# see content in page7
soup7 = BeautifulSoup(page7.content)

players = [] #empty list
team_name = [] #empty list  
rating = [] #empty list 

for i in soup7.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup7.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup7.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup7.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC bowlers
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

             Player                    Team Rating
0       Trent Boult  NZ                        737
1  Mujeeb Ur Rahman                     AFG    708
2        Matt Henry                      NZ    691
3    Jasprit Bumrah                     IND    690
4      Mehedi Hasan                     BAN    668
5     Kagiso Rabada                      SA    666
6      Chris Woakes                     ENG    665
7    Josh Hazlewood                     AUS    660
8       Pat Cummins                     AUS    646
9     Mohammad Amir                     PAK    638

* Question 6 - Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

* i) Top 10 ODI teams in women’s cricket along with the records for matches, points 
and rating.

In [11]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page8 = requests.get(url)
#see content in page8
soup8 = BeautifulSoup(page8.content)
#scrape team names
womens_team = soup8.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = [] #empty list
womens_points = [] #empty list
womens_ratings = [] #empty list
womens_new_list = [] #empty list
for i in soup8.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    womens_matches.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--points'):# first place team points
    womens_points.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    womens_ratings.append(i.text.replace("\n",""))
for i in soup8.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    womens_new_list.append(i.text)
for i in range(0,len(womens_new_list)-1,2):
    womens_matches.append(womens_new_list[i]) # other teams matches
    womens_points.append(womens_new_list[i+1]) # other teams points
for i in soup8.find_all("td",class_='table-body__cell u-text-right rating'):# other teams number of matches and ratings
    womens_ratings.append(i.text)
# Make data frame of top 10 ICC teams
womens_icc=pd.DataFrame({})
womens_icc['Team_name']=womens_team_name[:10]
womens_icc['Matches']=womens_matches[:10]
womens_icc['Points']=womens_points[:10]
womens_icc['Ratings']=womens_ratings[:10]
womens_icc

,Team_name,Matches,Points,Ratings
0,Australia,18,"2,955",164 ...
1,South Africa,24,"2,828",118
2,England,17,"1,993",117
3,India,20,"2,226",111
4,New Zealand,21,"1,947",93
5,West Indies,12,"1,025",85
6,Pakistan,15,"1,101",73
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13

* ii) Top 10 women’s ODI players along with the records of their team and rating.

In [2]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page9 = requests.get(url)
# see content in page9
soup9 = BeautifulSoup(page9.content)
players = [] #empty list
team_name = [] #empty list
rating = [] #empty list

for i in soup9.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup9.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup9.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup9.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 Women's ODI Batting Rankings
top_players=pd.DataFrame({})
top_players['Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

              Player                     Team Rating
0     Tammy Beaumont  ENG                        765
1        Lizelle Lee                       SA    758
2       Alyssa Healy                      AUS    756
3    Stafanie Taylor                       WI    746
4        Meg Lanning                      AUS    723
5  Amy Satterthwaite                       NZ    715
6    Smriti Mandhana                      IND    710
7        Mithali Raj                      IND    709
8     Natalie Sciver                      ENG    685
9    Laura Wolvaardt                       SA    683

* iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page10 = requests.get(url)

# see content in page10
soup10 = BeautifulSoup(page10.content)

players = [] #empty list
team_name = [] #empty list  
rating = [] #empty list 

for i in soup10.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
for i in soup10.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
for i in soup10.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup10.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)
# Make data frame of top 10 ICC Women's ODI All-Rounder Rankings
all_rounder=pd.DataFrame({})
all_rounder['Player']=players[:10]
all_rounder['Team']=team_name[:10]
all_rounder['Rating']=rating[:10]
all_rounder

             Player                    Team Rating
0    Marizanne Kapp  SA                        418
1      Ellyse Perry                     AUS    418
2   Stafanie Taylor                      WI    410
3    Natalie Sciver                     ENG    349
4     Deepti Sharma                     IND    343
5     Jess Jonassen                     AUS    307
6  Ashleigh Gardner                     AUS    252
7  Dane van Niekerk                      SA    243
8     Sophie Devine                      NZ    242
9       Amelia Kerr                      NZ    236

Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [29]:
#send get request to the webpage server to get the source code of the page
url = "https://www.cnbc.com/world/?region=world"
page7 = requests.get(url)
# see content in page7
soup7 = BeautifulSoup(page7.content)


# creaing empty lists 
time = []
headline = []
newsLink = []

#Iterating over all the news
for i in soup7.find_all("div",class_="LatestNews-container"):
     headline.append(i.find("a",class_="LatestNews-headline").text)  
        
for i in soup7.find_all("div",class_="LatestNews-container"):
     time.append(i.find("time").text)   
        
for i in soup7.find_all("div",class_="LatestNews-container"):
     newsLink.append(i.find("a",class_="LatestNews-headline").get("href"))

In [30]:
#Creating Dataset
data = list(zip(headline,time,newsLink))                                           #zipping data
df = pd.DataFrame(data,columns=["Headline","Time","News Link"])   
df

,Headline,Time,News Link
0,How Davos became the anti-establishment’s punc...,30 Min Ago,https://www.cnbc.com/2022/05/23/davos-the-worl...
1,European markets head for higher open despite ...,35 Min Ago,https://www.cnbc.com/2022/05/23/european-marke...
2,Why Turkey is standing in the way of Sweden an...,35 Min Ago,https://www.cnbc.com/2022/05/23/why-turkey-doe...
3,China's state-backed blockchain company to lau...,4 Hours Ago,https://www.cnbc.com/2022/05/22/chinas-state-b...
4,Four 'dream jobs' for people who love to travel,5 Hours Ago,https://www.cnbc.com/2022/05/23/jobs-for-peopl...
5,Analysts predict tech's next move — and name t...,5 Hours Ago,https://www.cnbc.com/2022/05/23/tech-sector-an...
6,Time to sell or buy the dip? Here's how pros s...,6 Hours Ago,https://www.cnbc.com/2022/05/23/buy-the-dip-or...
7,Hong Kong's Hang Seng falls as tech stocks sli...,6 Hours Ago,https://www.cnbc.com/2022/05/23/asia-markets-s...
8,"Oxfam slams billionaire pandemic 'bonanza,' sa...",7 Hours Ago,https://www.cnbc.com/2022/05/22/oxfam-slams-bi...
9,Stock futures rise after Dow falls for 8th-str...,8 Hours Ago,https://www.cnbc.com/2022/05/22/stock-market-f...
10,Another baby formula shipment from Europe to a...,9 Hours Ago,https://www.cnbc.com/2022/05/22/another-baby-f...
11,Hyundai plans $5 billion investment in U.S. on...,10 Hours Ago,https://www.cnbc.com/2022/05/22/hyundai-plans-...
12,SpaceX looks to raise $1.7 billion in new funding,16 Hours Ago,https://www.cnbc.com/2022/05/22/elon-musks-spa...
13,"Any potential recession will be 'light,' Qatar...",16 Hours Ago,https://www.cnbc.com/2022/05/22/recession-will...
14,The 4 things this mindfulness coach with a Har...,17 Hours Ago,https://www.cnbc.com/2022/05/22/the-4-things-t...
15,Covid cases are surging again—here's what to e...,17 Hours Ago,https://www.cnbc.com/2022/05/22/covid-cases-ar...
16,Student loan forgiveness could be around the c...,17 Hours Ago,https://www.cnbc.com/2022/05/22/what-to-do-whi...
17,These stocks are good buys even if earnings ta...,17 Hours Ago,https://www.cnbc.com/2022/05/22/these-stocks-a...
18,Meet the veteran growth investor who picks sto...,17 Hours Ago,https://www.cnbc.com/2022/05/22/meet-the-veter...
19,The 'work from anywhere' experiment got some t...,17 Hours Ago,https://www.cnbc.com/2022/05/22/our-great-hybr...
20,"Prices are surging, but fans are still paying ...",18 Hours Ago,https://www.cnbc.com/2022/05/22/inflation-is-r...
21,"U.S. roadway deaths rise, even as cars get saf...",19 Hours Ago,https://www.cnbc.com/2022/05/22/us-roadway-dea...
22,Ukraine rules out ceasefire and ceding territo...,22 Hours Ago,https://www.cnbc.com/2022/05/22/russia-ukraine...
23,"'We're sorry' for baby formula shortage, Abbot...","May 21, 2022",https://www.cnbc.com/2022/05/21/abbott-ceo-apo...
24,Russia just issued a list of Americans banned ...,"May 21, 2022",https://www.cnbc.com/2022/05/21/russia-bans-bi...
25,6 things this immunologist does every night to...,"May 21, 2022",https://www.cnbc.com/2022/05/21/6-things-this-...
26,The founders of NYC’s first woman-owned brewer...,"May 21, 2022",https://www.cnbc.com/2022/05/21/founders-of-ta...
27,New effort aims to celebrate high school stude...,"May 21, 2022",https://www.cnbc.com/2022/05/21/career-signing...
28,"Even in a hot labor market, workers are worrie...","May 21, 2022",https://www.cnbc.com/2022/05/21/even-in-a-hot-...
29,This 27-year-old quit her job to open a bookst...,"May 21, 2022",https://www.cnbc.com/2022/05/21/career-advice-...

Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [39]:
#send get request to the webpage server to get the source code of the page
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
page8 = requests.get(url)
# see content in page8
soup8 = BeautifulSoup(page8.content)

# creating empty lists
title = []
author = []
date = []
link = []

# scraping required data 
for i in soup8.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
                      
for i in soup8.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)

for i in soup8.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    date.append(i.text)
    
for i in soup8.find_all("a",class_="sc-5smygv-0 nrDZj"):
    link.append(i.get("href"))

* Q9- Write a python program to scrape mentioned details from ‘https://www.dineout.co.in/delhi-restaurants/buffetspecial’ :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image url

In [2]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
#send get request to the webpage server to get the source code of the page
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
# page content
soup=BeautifulSoup(page.content)

In [7]:
name=[]
for i in soup.find_all("div", class_="restnt-info cursor"):
    name.append(i.text)
location=[]
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    location.append(i.text)

price = []
cuisine = []
for i in soup.find_all("span", class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
    cuisine.append(i.text.split('|')[1])

rating=[]
for i in soup.find_all("div", class_="restnt-rating rating-3"):
    rating.append(i.text)
for i in soup.find_all("div", class_="restnt-rating rating-4"):
    rating.append(i.text)

images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i['data-src'])

In [8]:
print(len(name), len(location), len(price), len(cuisine), len(rating), len(images))

13 13 13 13 13 13

In [9]:
# Make data frame
DineOut=pd.DataFrame({})
DineOut['Restaurant Name']=name
DineOut['Location']=location
DineOut['Price']=price 
DineOut['Cuisine']=cuisine  
DineOut['Rating']=rating  
DineOut['IMAGES']=images
DineOut

,Restaurant Name,Location,Price,Cuisine,Rating,IMAGES
0,"Castle BarbequeConnaught Place, Central Delhi","Connaught Place, Central Delhi","₹ 2,000 for 2 (approx)","Chinese, North Indian",3.4,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","3CS Mall,Lajpat Nagar - 3, South Delhi","₹ 1,400 for 2 (approx)","North Indian, Barbecue, Italian, Asian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Pacific Mall,Tagore Garden, West Delhi","₹ 2,000 for 2 (approx)","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","The Leela Ambience Convention Hotel,Shahdara, ...","₹ 3,000 for 2 (approx)","Multi-Cuisine, North Indian, Italian, Contine...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","Gardens Galleria,Sector 38A, Noida","₹ 1,800 for 2 (approx)","Barbecue, Chinese, Mughlai, North Indian",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","Hilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx)","North Indian, Italian, Oriental",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","Taurus Sarovar Portico,Mahipalpur, South Delhi","₹ 1,500 for 2 (approx)","Barbecue, North Indian",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","₹ 1,600 for 2 (approx)","North Indian, Chinese, Fast Food",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,"World CafeVibe by The Lalit Traveller,Sector 3...","Vibe by The Lalit Traveller,Sector 35, Faridabad",₹ 900 for 2 (approx),"North Indian, Chinese, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"Indian Grill RoomSuncity Business Tower,Golf C...","Suncity Business Tower,Golf Course Road, Gurgaon","₹ 2,200 for 2 (approx)","North Indian, Mughlai, Barbecue",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Mad 4 Bar B QueSector 29, Faridabad","Sector 29, Faridabad",₹ 800 for 2 (approx),"North Indian, Mughlai",3.8,https://im1.dineout.co.in/images/uploads/resta...
11,"Barbeque 29NIT, Faridabad","NIT, Faridabad","₹ 1,500 for 2 (approx)","North Indian, Chinese, Barbecue",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"DoubleTree By Hilton Gurugram Baani Square,Sec...","₹ 3,400 for 2 (approx)","Multi-Cuisine, Asian, European, Italian, Nort...",4,https://im1.dineout.co.in/images/uploads/resta...

10) Write a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
iv) h5-median

In [42]:
page = requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en")
page

In [48]:
# page content
soup=BeautifulSoup(page.content)

# creating empty lists
rank = []
publication = []
h5Index = []
h5Median = []

# scraping rank 
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)

# scraping publication    
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)
    

# scraping h5index    
for i in soup.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5Index.append(i.text)
   
# scraping h5median      
for i in soup.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5Median.append(i.text)

In [49]:
# creating dataframe
data = list(zip(rank,publication,h5Index,h5Median))
df = pd.DataFrame(data,columns=["Rank","Publication","h5 Index","h5 Median"])
df

    Rank                                        Publication h5 Index h5 Median
0     1.                                             Nature      414       607
1     2.                The New England Journal of Medicine      410       704
2     3.                                            Science      391       564
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      356       583
4     5.                                         The Lancet      345       600
..   ...                                                ...      ...       ...
95   96.                            Frontiers in Immunology      134       177
96   97.                                              Small      134       173
97   98.                                  Nature Immunology      133       210
98   99.                                      JAMA Oncology      133       202
99  100.                               The Lancet Neurology      133       200

[100 rows x 4 columns]